@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap');

/* ----- GENERAL ----- */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
}

body {
    background-color: white;
    font-family: Source Sans Pro;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0px;
    color: white;
    text-align: center;
}

html,
body {
    margin: 0;
    padding: 0;
}

/* ----- HEADER ----- */

header {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    padding: 0 125px;
    padding-top: 35px;
}

header div {
    display: flex;
    justify-content: flex-end;
    gap: 50px;
}

header a {
    font-size: 12px;
    font-weight: 400;
    text-decoration: none;
    text-align: left;
}

/* ----- MAIN ----- */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    color: white;
    text-align: center;
}

section {
    width: 100%;
}

.hero .title h1 {
    font-size: 120px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: center;
}

.title p {
    width: 100%;
    max-width: 250px;
    font-size: 16px;
    font-weight: 400;
    text-align: justify;
    text-justify: inter-word;
    margin-bottom: 25px;
}

.title p::after {
    content: "";
    display: inline-block;
    width: 100%;
}

section.hero {
    background-image: url("../template/background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    padding-top: 100px;
}

section .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

button {
    background-color: #C271FF;
    border-radius: 999px;
    width: 162px;
    height: 44px;
    border: none;
    color: white;
    box-shadow: 0px 2px 20px 0px #00000080;
}

section .pros {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 75px;
    padding-top: 75px;
    padding-bottom: 50px;

}

section .pros h2 {
    font-weight: 400;
    font-size: 32px;
    padding-top: 75px;
}

.purple-word {
    font-weight: 400;
    color: #C271FF;
}

section .people blockquote {
    font-weight: 400;
}

section .people {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 125px;
    width: 100%;
}

section .people div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 150px;
}

section .people img {
    width: 150px;
}

.round-image {
    border-radius: 50%;
}

section.author {
    background-color: #C271FF;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.author .quote-all {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    padding: 60px 100px;
    width: 80%;
}

section.author img {
    width: 160px;
}

section.author div div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 0;
}

section.author blockquote {
    font-weight: 400;
    font-size: 22px;
    line-height: 24px;
    letter-spacing: 0px;
    padding-bottom: 25px;
    color: white;
    text-align: left;
}

section.author .name {
    font-weight: 400;
    font-size: 22px;
}

section.author .occupation {
    font-weight: 400;
    font-size: 22px;
    font-style: italic;
}

section.tutorials {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 100px;
}

section.tutorials .group {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

section.tutorials .item {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    gap: 15px;
    width: 25%;
}

section.tutorials h1 {
    color: black;
    font-weight: 400;
    padding-bottom: 75px;
}

section.tutorials h2 {
    color: #071629;
    text-align: left;
    font-size: 16px;
    width: 240px;
}

section.tutorials h3 {
    color: #C271FF;
    font-weight: 400;
    font-size: 14px;
}

section.tutorials p {
    font-weight: 400;
    font-size: 14px;
    width: 240px;
}

.desc {
    color: rgba(7, 22, 41, 0.5);
    text-align: left;
}

.publisher {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 240px;
    gap: 10px;
}

.publisher img {
    width: 30px;
}

.review-length {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 240px;
}

.stars {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.stars img {
    width: 15px;
    height: 15px;
}

.length {
    color: #C271FF;
    text-align: right;
    font-weight: 400;
}

section.memberships {
    background-color: #071629;
    min-height: 593px;
    display: flex;
    flex-direction: column;
    gap: 75px;
    align-items: center;
    width: 100%;
    padding: 95px 75px;
}

.memberships h1 {
    font-weight: 400;
}

.members {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 75px;
    padding-bottom: 15px;
}

.member {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    width: 200px;
}

.member img {
    width: 45px;
}

.member h2 {
    font-size: 18px;
    font-weight: 400;
}

.member p {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

section.faq {
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

section.faq h1,
section.faq h2,
section.faq p {
    color: #071629;
}

section.faq h1 {
    font-size: 60px;
    font-weight: 400;
    padding-bottom: 45px;
}

section.faq h2 {
    font-size: 16px;
    font-weight: 400;
    text-align: left;
}

section.faq p {
    color: rgba(7, 22, 41, 0.5);
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    line-height: 24px;
    letter-spacing: 0px;
}

.faq-bloc {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    width: 75%;
}

.faq-row {
    display: flex;
    flex-direction: row;
    gap: 145px;
    width: 100%;
}

.faq-item {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;
}

/* ----- FOOTER ----- */

footer {
    background-color: #071629;
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
}

footer a {
    color: white;
}

.footer-all {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
    margin: 0 auto;
    padding: 40px 0 25px 0;
    gap: 20px
}

.logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.socials {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.footer-all p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 12px;
    font-weight: 400;
}
